
<div class="welcome_page_background">
	<div class="welcome_page">
		<h1>Register as user</h1>
		<div class="{{feedbackStatus}}">{{formFeedback}}</div>
		<input type="text" placeholder="enter a username" ng-model="username" name="username"/><br />
		<input type="password" placeholder="enter a password" ng-model="password" name="password"/><br />
		<input type="password" placeholder="enter password again" ng-model="repeat_password" name="password"/>
		<br/><button name="register" ng-click="register()">Register</button>
	</div>
</div>


